<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="nav_bar">
        <div class="nav_container">
            <div class="logo">
                    <img src="{{ url_for('static', filename='images/download.jpg') }}" alt="Kitty">
                <h1>Dress Up Kitty</h1>
            </div>
            <div class="nav_buttons">
                <button onclick="window.location.href='/login_page'">Login</button>
                <button id="logout" onclick="logoutFeature()">Logout</button>
                <button onclick="window.location.href='/post_redirect'">Posting</button>
            </div>
        </div>
    </div>

    <div class="main">
        <h1>Welcome to Dress Up Kitty! {{ username }}</h1>
    </div>

    <div class="gallery">
        {% for post in posts %}
        <div class="image-box">
            <img src="{{ url_for('static', filename='uploads/' + post['file_name']) }}" alt="Image">
            
            <div class="description">{{ post['Description'] }}</div>
            <div class="author">Author: {{ post['Author'] }}</div>
            <div class="average_rating">Average Rating: {{ post['Average_rating'] }}</div>
            <div class="star">★ ★ ★ ★ ★</div>
            
            <button onclick="window.location.href='/review/{{ post['file_name'] }}'">Leave a Review</button>
        </div>
        {% endfor %}
    </div>

    <script src="/static/js/login.js"></script>
</body>
</html>
