<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post_screen.css') }}">
    <title>Post Screen</title>
</head>
<body>
    <div class="centered_box">
        <h2>Upload an Image</h2>
        <h3>You will give yourself 5 rating Once submitted</h3>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <textarea name="description" maxlength="256" rows="4" placeholder="Add a description..." required></textarea>
            <label for="expiration_time">Set Post Expiration:</label>
            <select name="expiration_time" id="expiration_time" required>
                <option value="0">Forever</option>
                <option value="0.01666666667">1 Minute</option>
                <option value=".5">30 Minutes</option>
                <option value="1">1 Hour</option>
                <option value="12">12 Hours</option>
                <option value="24">24 Hours</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        <button class="return" onclick="window.location.href='/'">Return</button>
    </div>
</body>
</html>
