<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_list.css') }}">
</head>
<body>
    <div class="container">
        <h1>Send DM</h1>
        <ul class="user-list">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <li>
                            <span>{{ message }}</span>
                            <button>Send DM</button>
                        </li>
                    {% endfor %}
                {% endif %}
            {% endwith %}

        </ul>
    </div>
</body>
</html>